@import "tailwindcss";

@font-face {
	font-family: 'Montserrat';
	src: url('/fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
}

body {
	font-family: 'Montserrat', Arial, Sans-Serif;
}

body::-webkit-scrollbar {
	display: none;
}
